* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    width: 80%;
	margin: auto;
    display: flex;
    background: white;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    border-radius: 8px;
    overflow: hidden;
}

/* LEFT SIDE IMAGE */
.image-panel {
    flex: 1;
    background: linear-gradient(135deg, rgba(155,89,182,.850), rgba(231,76,155,0.85));
    position: relative;
}

.image-panel .overlay {
    position: absolute;
    inset: 0, 4;
    background: linear-gradient(135deg, rgba(155,89,182,.850), rgba(231,76,155,0.85));
}

/* RIGHT SIDE FORM */
.form-panel {
    flex: 1;
    padding: 50px;
}

.form-panel h1 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #333;
}

form label {
    display: block;
    font-size: 13px;
    margin-top: 18px;
    color: #777;
}

form input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 15px;
    outline: none;
}

form input:focus {
    border-bottom-color: #d63384;
}

/* TERMS */
.terms {
    margin-top: 20px;
    font-size: 13px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: -220px;
    white-space: nowrap;
}

/* BUTTON + LINK */
.actions {
    margin-top: 30px;
    transform: translateX(-11px);
    display: flex;
    align-items: center;
    gap: 213px;
}

button {
    padding: 10px 40px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
    background: linear-gradient(135deg, #9b59b6, #e84393);
    box-shadow: 0 8px 20px rgba(232,67,147,0.4);
}

button:hover {
    opacity: 0.9;
}

.actions a {
    color: #888;
    font-size: 14px;
    text-decoration: none;
}

.actions a:hover {
    text-decoration: underline;
}

.terms label {
    transform: translatex(-210px);
    margin-top: 0px;
    cursor: pointer;

}

